In [7]:
import pandas as pd
print("Pandas version", pd.__version__)

Pandas version 1.3.5

In [8]:
original_df = pd.read_csv('../csv/post_proc_file.csv')
original_df

,Name,ID,Which person you have hear of their voice or seen their faces?,Which person you have met (in person+online) and exchange conversation?,Which person you have collaborated with?,Which person you have eye contact?,Which peson you have eaten lunch with?,Which person you have shared a ride?,Which person you have taken at least two courses with?,Which person you have exchange email/text message with?,Which person you have send sms messages too?
0,Elham Azizi,2,"5,7,8,11,17,19,21,34,35,37,39,41,50","7,17,21,37,50",17,"7,21,50",50,50,"5,7,6,8,11,17,19,21,34,35,39,41,50","7,50","7,50"
1,Danish,3,"2,4,5,8,9,13,17,21,23,26,30,51,69","9,13,23,28,40,51","13,51",51,NaN,NaN,"4,9,13,23,27,28,30,32,33,35,36,40,42,46,47,51",51,51
2,Drumil,4,"5,9,13,16,17,21,30,38,60,69","9,16,38,60,69","9,16,17,30,38,60,69",9,NaN,NaN,"5,9,16,38,60","9,16,17,30,38,60,69",NaN
3,Mohammed Abid,5,"17,30,6,8",17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Neha Ejaz,6,"2,5,17,19,50",50,14,50,-,-,"2,7,50",50,50
5,Shahrbanoo Zomorodzadeh,7,"2,50,5,6,17","2,50",NaN,"2,50",50,NaN,"2,50",NaN,"2,50"
6,Israt Jahan Jui,8,"2,5,11,17,19,21,34,41","19,21,41",NaN,NaN,NaN,NaN,"2,5,6,11,17,19,21,34,41",NaN,19
7,Ayush Vyas,9,"3,4,15,17,38","3,4,15,17,38","4,38",NaN,NaN,NaN,NaN,NaN,NaN
8,Sri Nikitha Varada,10,"2,3,5,11,17,19,23,26,30,32,33,40,43,48,53,54","23,32,33,40,43,48,42","32,33,43,48","32,33,40,48,53,54","32,33,53,54","32,33","3,8,23,26,32,33,36,40,42,43,48,53,54,55","32,33,43,48","23,32,33,40,42,43,48"
9,Tamilselvan (Tamilesh) Balasuntharam,11,"2,5,6,8,17,19,21,24,30,34,35,39,41","17,21,34","17,21","17,21,34","17,34",NaN,"2,5,8,17,19,21,24,30,34,35,39,41,50","17,21",NaN
10,Gowtham Koppada,12,"29,31,23,36,17,38","29,31","29,31",29,29,29,"29,31","29,31","29,31,36,38"
11,Francel,13,"3,16,17,15,4,30,38,43,5","15,3,38","15,3,38",NaN,NaN,NaN,NaN,"15,3,38","15,3,38"
12,Parshant Kumar,14,"2,4,5,17,69",NaN,6,NaN,NaN,NaN,3,6,NaN
13,Shailee,15,"38,13,4,9","38,13,9,12",13,NaN,NaN,NaN,"38,13,12,9","38,13,12,9",NaN
14,Ali Raamish,16,"4,38,60,17,21,37,30,19,11,5,8,13","4,38,60","4,38,60",NaN,NaN,NaN,"4,38,60","4,38,60",NaN
15,Felipe Megale,17,"2,5,8,11,19,21,24,30,34,35,39,41,69,70","11,21,34","11,21","11,21,34","11,34",NaN,"2,5,8,11,19,21,24,30,34,35,39,41,50",NaN,NaN
16,Dishaben Vitthani,18,"2,5,16,17,21,22","9,22",22,NaN,NaN,NaN,"17,22","9,22","9,22"
17,Shweta Jacob,19,"2,5,6,8,11,17,21,24,30,34,35,38,39,41,70","8,41",41,41,41,41,"2,8,11,17,21,34,35,39,41,70","8,17,41","8,41"
18,Zining Song,20,"5,17,44",44,44,44,NaN,NaN,44,44,NaN
19,Marzieh Ahmadi,21,"2,4,5,8,11,17,19,30,34,35,37,39,41","11,17","11,17","11,17",NaN,NaN,"2,8,11,17,19,34,35,39,41","2,3,11,17,30,37",NaN
20,Gorasiya Jahnvi,22,"2,5,6,14,17,18,19,21,24,38,69",18,18,NaN,NaN,NaN,18,18,18
21,Satya Sannihith Lingutla,23,"2,3,5,10,12,17,21,25,32,33,36,40,47","3,25,32,36,40","25,36,40,32","36,40",40,40,"3,25,32,36,40,12,47","3,36,40","3,36,40"
22,Khan Khalid,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Prajwal,25,"2,23,32,37,48",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Sanjana Shashibhushan,26,"3,10,28,30,43,47,48,54,17,41,42,51,53,54","43,47,48,54,3,42,53,54,55","43,47,48,42,53,54","47,42,53,54","42,47,53,54",NaN,"3,10,28,30,43,47,48,51,42,53,54,55","3,43,47,48,42,53,54,55","43,47,48,42,53,54,55"
25,Joseph Adelakun,27,"17,3,69,70,21,51","63,51",NaN,NaN,NaN,NaN,"3,51,63,25,28",NaN,NaN
26,Bhavik Naik,28,"2,5,11,17,19,25,26,30,32,33,47,69",3,"3,51",NaN,NaN,NaN,"2,3,4,5,6,10,11,13,14,17,19,25,26,27,30,32,33,36",3,3
27,Meher Viswanath,29,NaN,"12,31","12,31","12,31","12,31","12,31","12,31","12,31","12,31"
28,Abe,30,"5,10,17,60","5,10,17,61,16,32","47,48,60",NaN,NaN,NaN,NaN,NaN,NaN
29,Alekhya Tanniru,31,NaN,"12,29","12,29",29,29,29,"29,31","29,31","29,31"
30,haritha,32,"10,23,19,17,25,33,40","10,33,40","10,33,40,23,25","10,33,40","10,33","10,33","3,10,23,25,28,30,33,36,40,48","10,33,25,40,23,36","10,33"
31,Sharmila,33,"2,5,8,10,19,23,30,32,40,53,54","8,10,32,40,53,54","8,10,32,53,54","8,10,32,53,54","10,32,53,54","10,32,53,54","8,10,23,30,32,40,53,54","8,10,32,40,53,54","8,10,32,40,53,54"
32,Zixin Zhao,34,"2,8,11,17,19,21,41,71","11,17",NaN,"11,17",NaN,NaN,NaN,NaN,NaN
33,Nicholas Bode,35,"2,5,8,11,17,19,21,30,34,38,41",NaN,NaN,NaN,NaN,NaN,"2,3,5,6,11,17,19,21,34,39",NaN,NaN
34,Sai Hemanth Bheemineni,36,"12,23,40,25,32","12,23,40","23,32,40","23,40",40,40,"23,40,12","12,23,40",NaN
35,Saiedeh Pourmehran,37,"2,21,33",NaN,"2,21",NaN,NaN,NaN,NaN,NaN,NaN
36,Devika Padam,38,"4,9,12,16,47,","17,9,4,15","4,9,12,16",NaN,NaN,NaN,"3,4,9,12,13,15,16,17,19",NaN,NaN
37,Claire,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,RIshivarun Goud Sukka,40,"23,32,33,10,36,47","3,23,32,33,10,36","23,36,32","23,32,33,10,36","36,23","36,23","23,32,33,10,36,47","23,32,33,10,36,47,3","23,32,33,10,36,47"
39,Paul Louis,41,"2,5,8,11,17,19,21,30,34,35","8,19",19,"8,19",19,19,"2,8,11,17,19,21,34,35",19,19
40,Manoj Chunduru,42,"10,26,38,43,47,53,54,55,57","10,26,43,38,47,53,54,55,57","10,26,43,53,54,55,47,57","43,47,53,54,26","26,43,47,53,54,57","26,47,43,53,54","10,26,47,43,53,54,57","10,26,47,43,53,54,57","26,47,43,53,54,57"
41,Raj Kumar,43,"10,26,30,42,47,48,60","10,26,30,42,47,48,60","10,26,30,48,42",42,42,42,"10,26,30,42,47,48","10,26,42,48","10,26,30,42,48,60"
42,Wenyan Wang,44,"2,8,17,20,21,34",20,20,20,NaN,NaN,20,20,NaN
43,Mohammad Khalkhali Zavieh,45,"2,5,8,17,21,30,37,51","2,50",NaN,"2,50",NaN,NaN,"30,37",37,NaN
44,Nikhil Gupta,47,"26,40,23,54,42,53","26,40,23,54,42,53","26,54,42,53","26,54,42,53","26,54,42,53","54,42,53,26","26,40,23,54,42,53","26,40,23,54,42,53","26,40,23,54,42,53"
45,Anant Nayak,48,"10,60,43,26,25","10,15,36,25","34,45,12,25","10,46,60,25",25,25,"8,10,25,30,32,43","10,25,30,32,43","10,25,43"
46,Raj Kumar,49,NaN,"10,26",NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,negin tabaraki,50,"2,6,7,19","2,7",6,"2,7","2,7","2,7","2,6,7,19,20","2,6,7","2,6,7"
48,Temitayo Hayes,51,"63,57,40,30,13,3","3,13,30","3,13,27",NaN,NaN,NaN,NaN,NaN,NaN
49,Parisa Sargolzaei,52,"2,5,8,11,17,19,21,24,34,35,50,69","2,5,8,17,21,50,69","2,5",2,2,2,"2,5,7,8,11,17,19,21,34,35,46,50,69,70","2,5",2
50,Tanya Mary Udmala,53,"33,32,10,54,47,42,26,57","33,32,10,54,47,42,26,57","42,47,54,57","33,32,10,54,47,42,26,57","26,42,47,54,57","26,42,47,54,33,32,10,57","10,26,32,33,42,47,53,57","26,42,47,54,33,57","26,42,47,54,33,57"
51,Pooja Pucha,54,"10,26,32,33,42,47,53","10,26,32,33,42,47,53,57","26,42,47,53,57","10,26,32,33,42,47,53,57","26,42,47,53,57","26,42,47,53,57","10,26,32,33,42,47,53,57","26,42,47,53,57","26,42,47,53"
52,Ashika Mattu,55,"25,26,48",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Sahar Hojati,56,7,NaN,NaN,NaN,NaN,NaN,"2,7,50",NaN,NaN
54,Kalyan Reddy Pedalanka,57,"5,23,26,30,31,32,33,42,43,47,51,53,54","5,23,33,42,53,54","53,54","53,54","42,53,54","53,54","23,30,42,43,44,47,","42,53,54","42,53,54"
55,pallavi nayak,60,"4,5,16,17,30,38,48",38,"4,16,38,30",NaN,NaN,NaN,"4,16,38,30","4,16,38,30",38
56,Rotimi Omotayo-Benson,63,"17,69,5,8,27,2",27,NaN,NaN,NaN,NaN,27,27,NaN
57,Sage M.,69,"18,21,5,70","70,38,3,4",70,NaN,NaN,NaN,70,"70,38,3,4",NaN
58,Stephen S.,70,"5,8,17,19,21,69",69,69,1,1,1,"19,21,69",69,1

In [9]:
original_df.columns

Index(['Name', 'ID',
       'Which person you have hear of their voice or seen their faces?',
       'Which person you have met (in person+online) and exchange conversation?',
       'Which person you have collaborated with?',
       'Which person you have eye contact?',
       'Which peson you have eaten lunch with?',
       'Which person you have shared a ride?',
       'Which person you have taken at least two courses with?',
       'Which person you have exchange email/text message with?',
       'Which person you have send sms messages too?'],
      dtype='object')

In [10]:
cols = original_df.columns

sets_cols = [[cols[0],cols[1],cols[x]] for x in range(2,len(cols))]

In [11]:
sets_cols

[['Name',
  'ID',
  'Which person you have hear of their voice or seen their faces?'],
 ['Name',
  'ID',
  'Which person you have met (in person+online) and exchange conversation?'],
 ['Name', 'ID', 'Which person you have collaborated with?'],
 ['Name', 'ID', 'Which person you have eye contact?'],
 ['Name', 'ID', 'Which peson you have eaten lunch with?'],
 ['Name', 'ID', 'Which person you have shared a ride?'],
 ['Name', 'ID', 'Which person you have taken at least two courses with?'],
 ['Name', 'ID', 'Which person you have exchange email/text message with?'],
 ['Name', 'ID', 'Which person you have send sms messages too?']]

In [12]:
for x in range(0,len(sets_cols)):
    original_df[sets_cols[x]].to_csv(f'../csv/net/net_{x}.csv', index=False)